@charset "UTF-8";
@font-face {
  font-family: "wef";
  src: url("../font/wef.eot?74720369");
  src: url("../font/wef.eot?74720369#iefix") format("embedded-opentype"), url("../font/wef.woff2?74720369") format("woff2"), url("../font/wef.woff?74720369") format("woff"), url("../font/wef.ttf?74720369") format("truetype"), url("../font/wef.svg?74720369#wef") format("svg");
  font-weight: normal;
  font-style: normal;
}
p a[target=_blank], small a[target=_blank] {
  display: inline-block;
}
@media (min-width: 769px) {
  p a[target=_blank]:hover, small a[target=_blank]:hover {
    opacity: 0.5;
  }
}
p a[target=_blank]:after, small a[target=_blank]:after {
  border: none;
  content: "";
  background: url(../img/icon_link.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 10px;
  height: 10px;
  position: relative;
  display: inline-block;
  margin: 0 2px;
}

/*-------------------------------------------------------------- */
/*Reset
/*-------------------------------------------------------------- */
html, body, main, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6 blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}

img.cover {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

html {
  width: 100%;
  font-size: 62.5%;
  color: #000;
}

body {
  font-size: 1.4rem;
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
  letter-spacing: 0rem;
  background: #fff;
  color: #2d1c60;
}

body.scrollhide {
  overflow-y: hidden;
}

a {
  color: #2d1c60;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

table {
  border-collapse: collapse;
  width: 100%;
}

sup {
  font-size: 0.8rem;
}

*:focus {
  outline: none;
}

@media (min-width: 769px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}
ul {
  list-style: none;
}

hr {
  border: none;
  margin-top: 0;
}

.ff-en {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.pic {
  width: 100%;
  height: auto;
}

p {
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 0.2em;
  margin-bottom: 30px;
  color: #000;
}
p strong {
  color: #2d1c60;
}
p:last-child {
  margin-bottom: 0;
}

.pc {
  display: block;
}
@media (max-width: 768px) {
  .pc {
    display: none;
  }
}

.tb {
  display: none;
}
@media (max-width: 960px) {
  .tb {
    display: block;
  }
}

@media (max-width: 960px) {
  .ctb {
    display: none !important;
  }
}

.sp {
  display: none;
}
@media (max-width: 768px) {
  .sp {
    display: block;
  }
}

/*-------------------------------------------------------------- */
/*common
/*-------------------------------------------------------------- */
.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.fs-18 {
  font-size: 1.8rem;
}

.fs-16 {
  font-size: 1.6rem;
}

.ls-05 {
  letter-spacing: 0.05em;
}

.container {
  max-width: 1285px;
  margin: auto;
  padding: 0 70px;
}
@media (max-width: 1040px) {
  .container {
    padding: 0 40px;
  }
}

.btn-01 {
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.4em;
  text-align: center;
  height: 75px;
  border-radius: 40px;
  background: #2d1c60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 0.1em;
  position: relative;
  box-shadow: 6px 6px 0 #fdfa00;
  -webkit-box-shadow: 6px 6px 0 #fdfa00;
  margin: auto;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  padding: 0 20px;
}
@media (min-width: 769px) {
  .btn-01:hover {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 0 #fdfa00;
    -webkit-box-shadow: 0px 0px 0 #fdfa00;
  }
}
@media (max-width: 768px) {
  .btn-01 {
    height: 50px;
    width: 250px;
  }
}
.btn-01[target=_blank] {
  padding: 0 40px;
}
.btn-01[target=_blank]:before {
  border: none;
  content: "";
  background: url(../img/icon_link_w.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 17px;
  height: 17px;
  position: absolute;
  right: 10%;
  top: 13px;
}

.ul-btn-01 {
  margin: 0 -2% 0 -2%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ul-btn-01 li {
  width: 100%;
  max-width: 294px;
  margin: 0 2%;
}
@media (max-width: 1140px) {
  .ul-btn-01 li {
    margin: 20px auto;
  }
}
.ul-btn-01 li a {
  width: 100%;
}
@media (max-width: 1140px) {
  .ul-btn-01 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.btn-02 {
  min-width: 230px;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 20px 65px 20px 0;
  display: inline-block;
}
.btn-02 span {
  position: relative;
}
.btn-02::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (min-width: 769px) {
  .btn-02::before {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }
}
.btn-02::after {
  -webkit-transform-origin: center center 0;
          transform-origin: center center 0;
  content: "";
  width: 30px;
  height: 1px;
  background: #000;
  position: absolute;
  right: -4px;
  bottom: 11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
@media (min-width: 769px) {
  .btn-02::after {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }
}
@media (min-width: 769px) {
  .btn-02:hover {
    opacity: 0.5;
  }
  .btn-02:hover::before {
    width: calc(100% + 8px);
  }
  .btn-02:hover::after {
    -webkit-transform-origin: center center 0;
            transform-origin: center center 0;
    content: "";
    width: 30px;
    height: 1px;
    background: #000;
    position: absolute;
    right: -12px;
    bottom: 11px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
.btn-02[target=_blank] span:before {
  border: none;
  content: "";
  background: url(../img/icon_link.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 17px;
  height: 17px;
  position: absolute;
  right: -30px;
  top: -10px;
}

.h-style strong {
  color: #f5ec00;
  font-size: 7.5rem;
  letter-spacing: 0.4em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.6;
  display: block;
}
@media (max-width: 1140px) {
  .h-style strong {
    font-size: 5rem;
  }
}
.h-style span {
  display: block;
  line-height: 1.5;
  font-size: 2.5rem;
  letter-spacing: 0.15em;
}
.h-style--fsX strong {
  color: #f5ec00;
  font-size: 10rem;
  letter-spacing: 0.4em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
@media (max-width: 1140px) {
  .h-style--fsX strong {
    font-size: 7rem;
  }
}

.content__nav {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content__nav .btn-01 {
  width: 290px !important;
  width: 100%;
}
.content__nav--left {
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.content__nav--left a {
  margin: 0;
}
.content__nav p {
  color: #2d1c60;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.7;
  padding: 10px 25px;
}
.content__nav p a {
  text-decoration: underline;
}
@media (min-width: 769px) {
  .content__nav p a:hover {
    opacity: 0.5;
  }
}

.ol-circle {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 35px;
  counter-reset: item;
  list-style-type: none;
}
@media (max-width: 1080px) {
  .ol-circle {
    padding: 0;
  }
}
.ol-circle > li {
  background: #f1f1f1;
  padding: 60px 55px;
  border-radius: 20px;
  margin-bottom: 80px;
}
.ol-circle > li:nth-child(3) img {
  max-width: 80%;
  display: block;
  margin: 80px auto 40px;
}
.ol-circle > li p {
  letter-spacing: 0.05em;
}
.ol-circle > li h3 {
  position: relative;
  font-size: 2.4rem;
  padding-left: 100px;
}
.ol-circle > li h3::before {
  counter-increment: item;
  content: "0" counter(item);
  color: #fff;
  position: absolute;
  left: 0px;
  top: -50%;
  width: 80px;
  height: 80px;
  background: #2d1c60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  border-radius: 50%;
  font-size: 2.8rem;
  line-height: 1;
}
.ol-circle > li > ol {
  list-style: none;
}
.ol-circle > li > ol > li {
  margin-top: 60px;
  padding-top: 50px;
  border-top: solid 2px #c1c1c1;
}
.ol-circle > li > ol > li .heading {
  position: relative;
}
.ol-circle > li > ol > li .heading h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 1.8rem;
}
.ol-circle > li > ol > li .heading h4 > div {
  width: 180px;
  height: 44px;
  border: solid 1px #2d1c60;
  border-radius: 5px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-right: 22px;
}
.ol-circle > li > ol > li .heading h4 > div > span {
  width: 50%;
  white-space: nowrap;
  text-align: center;
}
.ol-circle > li > ol > li .heading h4 > div > .bg-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  color: #fff;
  background: #2d1c60;
}
@media (max-width: 1150px) {
  .ol-circle > li > ol > li .heading.note {
    margin-top: -30px;
    padding-top: 55px;
  }
}
.ol-circle > li > ol > li .heading > strong {
  max-width: 233px;
  width: 100%;
  text-align: center;
  display: inline-block;
  background: #000;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
  border-radius: 3px;
}
.ol-circle > li > ol > li:nth-child(1) img {
  display: block;
  margin: 20px 0 40px;
}
.ol-circle > li > ol > li:nth-child(2) img {
  display: block;
  margin: 70px 0 50px;
}
.ol-circle > li > ol > li:nth-child(3) img {
  max-width: 70%;
  display: block;
  margin: 50px auto 50px;
}

/*-------------------------------------------------------------- */
/*page
/*-------------------------------------------------------------- */
.site-header {
  position: relative;
}

.img-scroll {
  max-width: 280px;
  height: auto;
  position: absolute;
  right: 0;
  top: -50px;
  z-index: 0;
  -webkit-animation: rotate 10s linear 0s infinite;
  animation: rotate 10s linear 0s infinite;
}
@media (max-width: 1080px) {
  .img-scroll {
    max-width: 160px;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.keyvisual {
  background: #2d1c60;
  height: 635px;
  overflow: hidden;
}
@media (max-width: 1230px) {
  .keyvisual {
    height: 50vw;
  }
}
.keyvisual__inner {
  padding-top: 62px;
  max-width: 1355px;
  height: 100%;
  margin: auto;
  position: relative;
}
.keyvisual__inner h1 {
  position: relative;
  z-index: 2;
  padding-left: 80px;
}
@media (max-width: 1355px) {
  .keyvisual__inner h1 {
    padding-left: 3%;
  }
}
.keyvisual__inner h1 small {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400;
  display: block;
  margin-bottom: 20px;
  letter-spacing: 0.2em;
}
.keyvisual__inner h1 .site-title {
  max-width: 425px;
  width: auto;
  height: auto;
}
@media (max-width: 1230px) {
  .keyvisual__inner h1 .site-title {
    max-width: 30vw;
  }
}
.keyvisual__inner .img-01 {
  position: absolute;
  left: 180px;
  bottom: -100px;
  max-width: 307px;
  height: auto;
  z-index: 10;
}
@media (max-width: 1355px) {
  .keyvisual__inner .img-01 {
    left: 6%;
  }
}
@media (max-width: 1230px) {
  .keyvisual__inner .img-01 {
    left: 7%;
    max-width: 23vw;
  }
}
.keyvisual__inner .img-02 {
  height: 100%;
  width: auto;
  position: absolute;
  right: 0;
  bottom: 0px;
  z-index: 0;
}
.keyvisual__inner .event-pop {
  position: absolute;
  left: 44%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 2.1rem;
}
@media (max-width: 1230px) {
  .keyvisual__inner .event-pop {
    left: 40%;
    width: 16vw;
    height: 16vw;
  }
}

.nav-toggle-wrap {
  position: fixed;
  right: 0;
  top: 0;
  width: 110px;
  height: 110px;
  z-index: 300;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (min-width: 769px) {
  .nav-toggle-wrap:hover .nav-toggle span:nth-of-type(1) {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  .nav-toggle-wrap:hover .nav-toggle span:nth-of-type(2) {
    opacity: 1;
  }
  .nav-toggle-wrap:hover .nav-toggle span:nth-of-type(3) {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}
.nav-toggle-wrap .circle {
  cursor: pointer;
  background: #2d1c60;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.nav-toggle-wrap .circle > span::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
}
.nav-toggle-wrap .circle > span::after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
}
.nav-toggle-wrap .circle > span i::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.nav-toggle-wrap .circle > span i::after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.nav-toggle-wrap .circle .nav-toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 15px;
  height: 16px;
}
.nav-toggle-wrap .circle .nav-toggle span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.nav-toggle-wrap .circle .nav-toggle span:nth-of-type(1) {
  top: 0;
}
.nav-toggle-wrap .circle .nav-toggle span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.nav-toggle-wrap .circle .nav-toggle span:nth-of-type(3) {
  bottom: 0;
}
.nav-toggle-wrap.active span:nth-of-type(1) {
  -webkit-transform: translateY(7px) rotate(-45deg);
  transform: translateY(7px) rotate(-45deg);
}
.nav-toggle-wrap.active span:nth-of-type(2) {
  opacity: 0;
}
.nav-toggle-wrap.active span:nth-of-type(3) {
  -webkit-transform: translateY(-7px) rotate(45deg);
  transform: translateY(-7px) rotate(45deg);
}

.global-nav {
  background: #2d1c60;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  height: 100%;
  width: 280px;
  top: 0%;
  right: -280px;
  position: fixed;
  z-index: 3;
  pointer-events: none;
  z-index: 290;
}
.global-nav > div {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  position: absolute;
  width: 280px;
  opacity: 0;
  padding: 100px 0 0 40px;
}
.global-nav > div ul li a {
  display: block;
  padding: 15px 0;
  font-size: 1.6rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.global-nav > div ul li a span {
  color: #f5ec00;
}
.global-nav.active {
  right: 0%;
  opacity: 1;
  pointer-events: auto;
}
.global-nav.active > div {
  opacity: 1;
}

.site-main {
  position: relative;
}
.site-main::before {
  content: "";
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 200;
  pointer-events: none;
}
.site-main.active::before {
  opacity: 1;
}
.site-main .section__pagenav {
  max-width: 1350px;
  padding: 0 50px;
  margin: auto;
}
.site-main .section__pagenav ul {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site-main .section__pagenav ul li {
  width: calc(100% - 22px);
  margin-right: 33px;
  position: relative;
}
.site-main .section__pagenav ul li:last-child {
  margin-right: 0;
}
.site-main .section__pagenav ul li .new {
  position: absolute;
  top: -12px;
  left: -12px;
}
@media (min-width: 769px) {
  .site-main .section__pagenav ul li .new {
    top: -25px;
    left: -25px;
  }
}
.site-main .section__pagenav ul li .new .new-bg {
  width: 52px;
  height: 52px;
  background: url(../img/new-bg.png) no-repeat;
  background-size: cover;
  display: block;
  -webkit-animation: rotate 10s linear 0s infinite;
  animation: rotate 10s linear 0s infinite;
}
@media (min-width: 769px) {
  .site-main .section__pagenav ul li .new .new-bg {
    width: 72px;
    height: 72px;
  }
}
.site-main .section__pagenav ul li .new img {
  position: absolute;
  width: 56%;
  left: 22%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
.site-main .section__pagenav ul li strong {
  display: block;
  padding: 10px;
  position: relative;
  margin-top: 10px;
}
.site-main .section__pagenav ul li strong::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-color: #2d1c60 transparent transparent transparent;
  background: url(../img/anchor.png) no-repeat;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media (min-width: 769px) {
  .site-main .section__pagenav ul li a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }
  .site-main .section__pagenav ul li a:hover {
    opacity: 0.5;
  }
}
.site-main .section__pagenav ul li a[target=_blank] strong {
  display: inline-block;
  position: relative;
}
.site-main .section__pagenav ul li a[target=_blank] strong:before {
  border: none;
  content: "";
  background: url(../img/icon_link.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 13px;
  height: 13px;
  position: absolute;
  right: -7px;
  top: 15px;
}
.site-main .section__about {
  margin: 50px 0 0 0;
  position: relative;
  z-index: 10;
}
.site-main .section__about p {
  letter-spacing: 0.2em;
}
.site-main .section__about p strong {
  letter-spacing: 0.05em;
}
.site-main .section__about .about_pic {
  position: relative;
  z-index: 20;
}
.site-main .section__about .col-2 {
  display: -ms-grid;
  display: grid;
  position: relative;
  z-index: 10;
  -ms-grid-columns: 610fr 120px 400fr;
  grid-template-columns: 610fr 400fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 120px;
}
@media (max-width: 1280px) {
  .site-main .section__about .col-2 {
    -ms-grid-columns: 610fr 5vw 400fr;
    grid-template-columns: 610fr 400fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 5vw;
  }
}
@media (max-width: 960px) {
  .site-main .section__about .col-2 {
    -ms-grid-columns: 420px 3vw 1fr;
    grid-template-columns: 420px 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 3vw;
  }
}
.site-main .section__about .col-2 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  margin-bottom: 50px;
}
.site-main .section__about .col-2 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.site-main .section__about .col-2 > *:nth-child(2) img {
  width: 100%;
  height: auto;
  margin-bottom: -187px;
}
@media (max-width: 1280px) {
  .site-main .section__about .col-2 > *:nth-child(2) img {
    margin-bottom: -10vw;
    margin-right: -10%;
  }
}
@media (max-width: 960px) {
  .site-main .section__about .col-2 > *:nth-child(2) img {
    margin-bottom: -20vw;
    margin-right: -30%;
    width: 110%;
  }
}
.site-main .section__about .content__background {
  margin: 50px 0;
}
.site-main .section__about .content__background h3 {
  font-size: 2.5rem;
  letter-spacing: 1.4em;
}
.site-main .section__howtoplay .content__howtoplay {
  margin: 40px auto 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 650fr 55px 666fr;
  grid-template-columns: 650fr 666fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 55px;
}
.site-main .section__howtoplay .content__howtoplay > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.site-main .section__howtoplay .content__howtoplay > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.site-main .section__howtoplay .content__howtoplay > *:nth-child(2) p {
  margin-bottom: 50px;
}
.site-main .section__howtoplay .content__flow .col-2-02 {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.site-main .section__howtoplay .content__flow .col-2-02 > *:nth-child(1) {
  width: 50%;
  padding: 0 120px;
}
@media (max-width: 1140px) {
  .site-main .section__howtoplay .content__flow .col-2-02 > *:nth-child(1) {
    width: 45%;
    padding: 0 40px;
  }
}
.site-main .section__howtoplay .content__flow .col-2-02 > *:nth-child(2) {
  width: 50%;
}
@media (max-width: 1140px) {
  .site-main .section__howtoplay .content__flow .col-2-02 > *:nth-child(2) {
    width: 55%;
  }
}
.site-main .section__howtoplay .content__flow .col-2-02 > *:nth-child(2) p {
  margin-bottom: 20px;
  display: block;
  letter-spacing: 0.1em;
}
.site-main .section__howtoplay .content__attention .heading h3 {
  font-size: 2.3rem;
  letter-spacing: 0.4em;
}
.site-main .section__howtoplay .content__attention .heading p {
  line-height: 2.5;
}
.site-main .section__howtoplay .content__attention ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px auto;
}
.site-main .section__howtoplay .content__attention ul li {
  width: 25%;
  margin-right: 55px;
}
.site-main .section__howtoplay .content__attention ul li p {
  margin-top: 45px;
  line-height: 1.5;
  letter-spacing: 0.17em;
  font-size: 1.4rem;
}
.site-main .section__howtoplay .content__attention ul li img {
  max-width: 90%;
  width: auto;
  max-height: 82px;
  height: auto;
  display: block;
  margin: auto;
}
.site-main .section__howtoplay .content__attention ul li:last-child {
  margin-right: 0;
}
.site-main .section__manga .contents {
  margin-top: 120px;
}
.site-main .section__manga .content__manga {
  margin-top: 60px;
}
.site-main .section__manga .content__manga ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-main .section__manga .content__manga ul li {
  width: 33.3%;
  margin-right: 50px;
  margin-bottom: 50px;
}
.site-main .section__manga .content__manga ul li:nth-child(3n) {
  margin-right: 0;
}
.site-main .section__manga .content__manga ul li a {
  display: block;
}
@media (min-width: 769px) {
  .site-main .section__manga .content__manga ul li a img {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }
  .site-main .section__manga .content__manga ul li a:hover img {
    opacity: 0.5;
  }
}
.site-main .section__manga .content__manga ul li a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 0 5px;
}
.site-main .section__manga .content__manga ul li a div > span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  margin-right: 10px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
.site-main .section__manga .content__manga ul li a div strong {
  font-size: 1.8rem;
}
.site-main .section__manga .content__manga ul li a > span {
  font-size: 1.5rem;
  background: #f5ec00;
  padding: 2px 5px;
  border-radius: 5px;
  margin: 10px 0 0 5px;
  color: #2d1c60;
  display: inline-block;
}
.site-main .section__video .contents {
  margin-top: 70px;
}
.site-main .section__video .content__video {
  max-width: 745px;
  margin: 40px auto 30px;
  text-align: center;
}
@media (min-width: 769px) {
  .site-main .section__video .content__video a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }
  .site-main .section__video .content__video a:hover {
    opacity: 0.7;
  }
}
.site-main .section__video .content__video video {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.site-main .section__feature .contents {
  margin-top: 70px;
}
.site-main .section__feature .content__description {
  max-width: 500px;
  margin: 45px auto;
}
.site-main .section__feature .content__description h3 {
  text-align: center;
  font-size: 2.5rem;
}
.site-main .section__feature .content__description p {
  letter-spacing: 0.05em;
}
.site-main .section__feature .content__feature {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 70px;
}
@media (max-width: 1080px) {
  .site-main .section__feature .content__feature {
    padding: 0 40px;
  }
}
.site-main .section__feature .content__feature ol {
  counter-reset: item;
  list-style-type: none;
}
.site-main .section__feature .content__feature ol > li {
  padding: 60px 0 0;
  border-radius: 20px;
  position: relative;
}
.site-main .section__feature .content__feature ol > li:first-child > div h3 {
  margin-bottom: 35px;
}
.site-main .section__feature .content__feature ol > li::before {
  counter-increment: item;
  content: "0" counter(item);
  color: #fff;
  position: absolute;
  left: 0px;
  top: 0%;
  width: 80px;
  height: 80px;
  background: #2d1c60;
  border: 10px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  border-radius: 50%;
  font-size: 2.8rem;
  line-height: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
}
.site-main .section__feature .content__feature ol > li::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #ccc;
  position: absolute;
  left: 0;
  top: 49px;
}
.site-main .section__feature .content__feature ol > li > div {
  margin: 85px 0;
}
.site-main .section__feature .content__feature ol > li > div p {
  letter-spacing: 0.05em;
}
.site-main .section__feature .content__feature ol > li > div h3 {
  position: relative;
  font-size: 2.4rem;
  margin-bottom: 20px;
}
.site-main .section__feature .content__feature ol > li > div > ul > li {
  background: #f1f1f1;
  border-radius: 20px;
  padding: 50px;
  margin: 55px 0;
}
.site-main .section__feature .content__feature ol > li > div > ul > li.col-2-03 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.3fr 625px 1fr;
  grid-template-columns: 1.3fr 62px 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}
.site-main .section__feature .content__feature ol > li > div > ul > li .br-20 {
  border-radius: 20px;
}
.site-main .section__feature .content__feature ol > li > div > ul > li h4 {
  font-size: 2.1rem;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.site-main .section__feature .content__feature ol > li > div > ul > li ul {
  padding: 0 0 0 20px;
  list-style: disc;
}
.site-main .section__feature .content__feature ol > li > div > ul > li ul li {
  line-height: 2;
  letter-spacing: 0;
}
.site-main .section__release .contents {
  margin-top: 70px;
}
.site-main .section__release .content__release {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 70px;
}
.site-main .section__release .content__release > .col-2-03 {
  margin: 50px 0;
}
.site-main .section .col-2-03 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 120px 1fr;
  grid-template-columns: 1fr 120px 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}
.site-main .section .col-2-03 p {
  letter-spacing: 0em;
}
.site-main .section .col-2-03 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  grid-column: 1;
}
.site-main .section .col-2-03 > *:nth-child(2) {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/span 3;
}
.site-main .section .col-2-03 > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-row: 2;
  grid-column: 1;
}
.site-main .section__message {
  background: #e6e6e6;
  margin-top: 120px;
}
.site-main .section__message .contents {
  background: url("../img/me_bg_01.jpg") no-repeat;
  background-size: 100%;
  background-position: top center;
  max-width: 967px;
  margin: auto;
  padding: 70px 0;
}
.site-main .section__message .content__message {
  max-width: 710px;
  margin: 0 auto;
  padding: 0 70px 50px;
}
.site-main .section__message .content__message p {
  letter-spacing: 0em;
}
.site-main .section__message .content__message p small {
  display: block;
  text-align: center;
}
.site-main .section__message .content__message img {
  margin: auto;
  display: block;
}
.site-main .section__message .content__message .txt-01 {
  max-width: 85%;
  height: auto;
  margin: 30px auto 40px;
}
.site-main .section__message .content__message .txt-02 {
  max-width: 70%;
  height: auto;
  margin: 40px auto 20px;
}
.site-main .section__event .contents {
  margin-top: 90px;
  margin-bottom: 80px;
}
.site-main .section__event .content {
  max-width: 1150px;
  margin: 30px auto;
}
.site-main .section__event .content .txt {
  padding: 20px 5px;
}
@media (max-width: 1230px) {
  .site-main .section__event .content .txt {
    padding: 20px 40px;
  }
}
.site-main .section__event .content .txt h3 {
  font-size: 2.3rem;
  letter-spacing: 0.1em;
}
.site-main .section__event .content .txt strong {
  font-size: 1.8rem;
  letter-spacing: 0.05em;
}
.site-main .section__event .content .txt p {
  letter-spacing: 0.05em;
}

.date_widget .content__date_widget {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 70px;
}
@media (max-width: 1080px) {
  .date_widget .content__date_widget {
    padding: 0 40px;
  }
}

.site-footer {
  background: #fff;
  padding: 65px 0 45px;
  border-top: 2px #ccc solid;
}
.site-footer .inner {
  position: relative;
  max-width: 1260px;
  padding: 0 165px 0 78px;
  margin: auto;
}
.site-footer .inner .footer-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}
.site-footer .inner .footer-nav > nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.site-footer .inner .footer-nav > nav.link-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.site-footer .inner .footer-nav > nav.link-nav li {
  margin-right: 20px;
}
.site-footer .inner .footer-nav > nav.link-nav li a {
  display: block;
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  padding-left: 10px;
  position: relative;
}
.site-footer .inner .footer-nav > nav.link-nav li a::before {
  font-size: 1.6rem;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  font-family: "wef";
  font-style: normal;
  font-weight: normal;
}
.site-footer .inner .footer-nav > nav.sns-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.site-footer .inner .footer-nav > nav.sns-nav .icon-instagram::before {
  content: "";
  font-family: "wef";
  font-style: normal;
  font-weight: normal;
}
.site-footer .inner .footer-nav > nav.sns-nav .icon-twitter-circled::before {
  content: "";
  font-family: "wef";
  font-style: normal;
  font-weight: normal;
}
.site-footer .inner .footer-nav > nav.sns-nav ul {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.site-footer .inner .footer-nav > nav.sns-nav ul li a {
  font-size: 3.5rem;
  line-height: 1;
  margin-left: 30px;
}
@media (min-width: 769px) {
  .site-footer .inner .footer-nav > nav.sns-nav ul li a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }
  .site-footer .inner .footer-nav > nav.sns-nav ul li a:hover {
    opacity: 0.5;
  }
}
.site-footer .inner .copyright {
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  margin-top: 25px;
}

.backtotop {
  background: #f5ec00;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  right: 24px;
  bottom: 40px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -webkit-transform: translate(0, 140px);
          transform: translate(0, 140px);
  z-index: 100;
}
.backtotop.active {
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
}
.backtotop img {
  width: 28px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 769px) {
  .backtotop:hover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .backtotop:hover:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    border: 1px solid #f5ec00;
    opacity: 0.5;
    -webkit-animation: 0.5s circleanime2 forwards;
            animation: 0.5s circleanime2 forwards;
  }
}

aside {
  position: fixed;
  z-index: 100;
}
aside a {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  position: fixed;
  background: #2d1c60;
  border-radius: 6px 0 0 6px;
  z-index: 300;
  display: block;
  width: 64px;
  height: 220px;
  color: #fff;
  letter-spacing: 0.4em;
  font-weight: 700;
}
@media (min-width: 769px) {
  aside a {
    right: -64px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }
  aside a:hover {
    background: #4a2f9d;
  }
}
aside a.active {
  right: 0px;
}
aside a span {
  white-space: nowrap;
  font-size: 1.6rem;
  position: absolute;
  top: 88px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
aside a::before {
  content: "";
  background: url(../img/icon_dog.png) no-repeat;
  background-size: contain;
  background-position: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
aside a:after {
  border: none;
  content: "";
  background: url(../img/icon_link_w.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 74px;
  right: 12px;
}

/*-------------------------------------------------------------- */
/*SP
/*-------------------------------------------------------------- */
@media (max-width: 768px) {
  /*-------------------------------------------------------------- */
  /*common
  /*-------------------------------------------------------------- */
}
@media (max-width: 768px) and (max-width: 360px) {
  html {
    font-size: 52.5%;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 1.4rem;
    line-height: 1.7;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
  }
  p strong {
    margin-top: 15px;
    display: block;
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .fs-18 {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .fs-16 {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 25px;
  }
}
@media (max-width: 768px) {
  small {
    display: block;
    line-height: 1.5;
  }
}
@media (max-width: 768px) {
  .btn-01 {
    width: 100%;
    font-size: 1.7rem;
    line-height: 1.4;
    letter-spacing: 0.05em;
    box-shadow: 3px 3px 0 #fdfa00;
    -webkit-box-shadow: 3px 3px 0 #fdfa00;
    padding: 0px;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .btn-01 {
    height: 60px;
  }
}
@media (max-width: 768px) {
  .btn-01[target=_blank] {
    padding: 0px;
  }
  .btn-01[target=_blank]:before {
    width: 15px;
    height: 15px;
    right: 8%;
    top: 12px;
  }
}
@media (max-width: 768px) {
  .ul-btn-01 {
    margin: 0;
    text-align: center;
    display: block;
  }
  .ul-btn-01 li {
    margin: 10px auto;
  }
}
@media (max-width: 768px) {
  .btn-02 {
    min-width: auto;
    position: relative;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 15px 45px 15px 5px;
    display: inline-block;
  }
  .btn-02 span {
    position: relative;
  }
  .btn-02::after {
    -webkit-transform-origin: center center 0;
            transform-origin: center center 0;
    content: "";
    width: 20px;
    height: 1px;
    background: #000;
    position: absolute;
    right: -3px;
    bottom: 7px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .btn-02[target=_blank] span:before {
    width: 15px;
    height: 15px;
    right: -28px;
    top: -8px;
  }
}
@media (max-width: 768px) {
  .h-style strong {
    color: #f5ec00;
    font-size: 4rem;
    letter-spacing: 0.2em;
    line-height: 1.2;
    display: block;
    text-align: center;
  }
  .h-style span {
    margin-top: 10px;
    display: block;
    line-height: 1.5;
    font-size: 2rem;
    letter-spacing: 0.1em;
  }
  .h-style--fsX strong {
    font-size: 5rem;
    letter-spacing: 0.2em;
  }
}
@media (max-width: 768px) {
  .content__nav {
    text-align: center;
  }
  .content__nav .btn-01 {
    width: 100% !important;
  }
  .content__nav--left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content__nav p {
    line-height: 1.7;
    padding: 5px 25px;
  }
}
@media (max-width: 768px) {
  .ol-circle {
    padding: 0 0px;
  }
  .ol-circle > li {
    padding: 25px 20px;
    border-radius: 10px;
    margin-bottom: 60px;
  }
  .ol-circle > li:nth-child(3) img {
    max-width: 100%;
    display: block;
    margin: 30px auto 30px;
  }
  .ol-circle > li p {
    letter-spacing: 0.05em;
  }
  .ol-circle > li h3 {
    position: relative;
    font-size: 1.8rem;
    padding-left: 0px;
  }
  .ol-circle > li h3::before {
    position: absolute;
    left: 0px;
    top: -45px;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
  }
  .ol-circle > li > ol > li {
    margin-top: 30px;
    padding-top: 20px;
    border-top: solid 2px #c1c1c1;
  }
  .ol-circle > li > ol > li:first-child {
    margin-top: 20px;
  }
  .ol-circle > li > ol > li .heading h4 {
    display: block;
    font-size: 1.6rem;
  }
  .ol-circle > li > ol > li .heading h4 > div {
    width: 160px;
    height: 34px;
    background: #fff;
    margin: 10px 0;
  }
  .ol-circle > li > ol > li .heading h4 > div > .bg-blue {
    height: 34px;
  }
  .ol-circle > li > ol > li .heading.note {
    position: relative;
    margin-top: 0px;
    padding: 0;
  }
  .ol-circle > li > ol > li .heading > strong {
    max-width: 100%;
    width: 100%;
    display: block;
    right: 0;
    top: 0;
    padding: 10px 20px;
    border-radius: 3px;
    position: relative;
    margin: 20px 0;
  }
  .ol-circle > li > ol > li:nth-child(1) img {
    max-width: 80%;
    display: block;
    margin: 30px auto 30px;
  }
  .ol-circle > li > ol > li:nth-child(2) img {
    max-width: 80%;
    display: block;
    margin: 30px auto 30px;
  }
  .ol-circle > li > ol > li:nth-child(3) img {
    max-width: 80%;
    display: block;
    margin: 30px auto 30px;
  }
}
@media (max-width: 768px) {
  .img-scroll {
    top: 101vh;
    right: -20%;
    z-index: 0;
    display: none;
  }
}
@media (max-width: 768px) {
  .keyvisual {
    background: #2d1c60;
    height: auto;
    overflow: hidden;
  }
  .keyvisual__inner {
    padding-top: 40px;
    height: 150vw;
  }
  .keyvisual__inner h1 {
    position: relative;
    z-index: 2;
    padding-left: 5vw;
  }
  .keyvisual__inner h1 small {
    font-size: 4.2vw;
    margin-bottom: 3vw;
    letter-spacing: 0.2em;
  }
  .keyvisual__inner h1 .site-title {
    max-width: 85vw;
    width: auto;
    height: auto;
  }
  .keyvisual__inner .img-01 {
    display: block;
    position: absolute;
    left: 5vw;
    right: auto;
    bottom: -15vw;
    width: 50vw;
    max-width: 100%;
    height: auto;
    margin: 0 0 0 0;
  }
  .keyvisual__inner .img-02 {
    height: auto;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0px;
    z-index: 0;
  }
  .keyvisual__inner .event-pop {
    position: absolute;
    left: 3%;
    -webkit-transform: translateX(0%);
    transform: translateX(0%) rotate(-15deg);
    bottom: auto;
    top: 50vw;
    width: 45vw;
    height: 45vw;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 2.1rem;
  }
}
@media (max-width: 768px) {
  .site-main {
    overflow: hidden;
  }
  .site-main .section__pagenav {
    padding: 0 20px;
    margin: auto;
    position: relative;
    z-index: 2;
  }
  .site-main .section__pagenav ul {
    padding: 40px 0 20px;
    display: block;
  }
  .site-main .section__pagenav ul li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .site-main .section__pagenav ul li strong {
    display: block;
    padding: 10px;
    position: relative;
    margin-top: 10px;
  }
  .site-main .section__pagenav ul li strong::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-color: #2d1c60 transparent transparent transparent;
    background: url(../img/anchor.png) no-repeat;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .site-main .section__about {
    margin: 30px 0 0 0;
  }
  .site-main .section__about p {
    letter-spacing: 0.1em;
  }
  .site-main .section__about .col-2 {
    display: block;
  }
  .site-main .section__about .col-2 > *:nth-child(1) {
    margin-bottom: 50px;
  }
  .site-main .section__about .col-2 > *:nth-child(2) {
    overflow: hidden;
  }
  .site-main .section__about .col-2 > *:nth-child(2) img {
    width: 70%;
    height: auto;
    margin-bottom: -100px;
    margin-right: -10%;
  }
  .site-main .section__about .content__background {
    margin: 30px 0;
  }
  .site-main .section__about .content__background h3 {
    font-size: 2rem;
    letter-spacing: 1em;
  }
  .site-main .section__howtoplay header small {
    margin-top: 15px;
  }
  .site-main .section__howtoplay .content__howtoplay {
    margin: 30px auto 40px;
    display: block;
  }
  .site-main .section__howtoplay .content__howtoplay > *:nth-child(1) img {
    max-width: 75%;
    display: block;
    margin: auto;
  }
  .site-main .section__howtoplay .content__howtoplay > *:nth-child(2) p {
    margin: 30px auto;
  }
  .site-main .section__howtoplay .content__flow {
    margin-top: 60px;
  }
  .site-main .section__howtoplay .content__flow .col-2-02 {
    margin: 20px auto;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .site-main .section__howtoplay .content__flow .col-2-02 > *:nth-child(1) {
    width: 100%;
    padding: 0;
  }
  .site-main .section__howtoplay .content__flow .col-2-02 > *:nth-child(1) img {
    max-width: 50%;
    display: block;
    margin: auto;
  }
  .site-main .section__howtoplay .content__flow .col-2-02 > *:nth-child(2) {
    width: 100%;
  }
  .site-main .section__howtoplay .content__flow .col-2-02 > *:nth-child(2) p {
    margin: 30px auto;
    letter-spacing: 0.1em;
  }
  .site-main .section__howtoplay .content__attention .heading h3 {
    font-size: 2rem;
    letter-spacing: 0.1em;
  }
  .site-main .section__howtoplay .content__attention .heading p {
    line-height: 2;
  }
  .site-main .section__howtoplay .content__attention ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .site-main .section__howtoplay .content__attention ul li {
    width: 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .site-main .section__howtoplay .content__attention ul li p {
    margin-top: 25px;
    letter-spacing: 0.02em;
    font-size: 1.3rem;
  }
  .site-main .section__howtoplay .content__attention ul li img {
    max-width: 80%;
    width: auto;
    max-height: 50px;
    height: auto;
    display: block;
    margin: auto;
  }
  .site-main .section__howtoplay .content__attention ul li:last-child {
    margin-right: 0;
  }
  .site-main .section__manga .contents {
    margin-top: 60px;
  }
  .site-main .section__manga .content__manga {
    margin-top: 60px;
  }
  .site-main .section__manga .content__manga ul {
    display: block;
  }
  .site-main .section__manga .content__manga ul li {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 50px;
    text-align: center;
  }
  .site-main .section__manga .content__manga ul li a {
    display: block;
  }
  .site-main .section__manga .content__manga ul li a img {
    max-width: 90%;
    display: block;
    margin: auto;
  }
  .site-main .section__manga .content__manga ul li a div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0 0 0;
  }
  .site-main .section__manga .content__manga ul li a div > span {
    font-size: 1.4rem;
    margin-right: 10px;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  .site-main .section__manga .content__manga ul li a div strong {
    font-size: 1.6rem;
  }
  .site-main .section__manga .content__manga ul li a > span {
    font-size: 1.4rem;
    margin: 5px 0 0 0px;
  }
  .site-main .section__video .contents {
    margin-top: 70px;
  }
  .site-main .section__video .content__video {
    max-width: 745px;
    margin: 40px auto 30px;
    text-align: center;
  }
  .site-main .section__video .content__video video {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  .site-main .section__feature .contents {
    margin-top: 70px;
  }
  .site-main .section__feature .content__description {
    max-width: 500px;
    margin: 30px auto;
    padding: 0 25px;
  }
  .site-main .section__feature .content__description h3 {
    font-size: 2rem;
  }
  .site-main .section__feature .content__feature {
    padding: 0 25px;
  }
  .site-main .section__feature .content__feature ol > li {
    padding: 60px 0 0px;
    position: relative;
  }
  .site-main .section__feature .content__feature ol > li:first-child {
    padding: 60px 0 40px;
  }
  .site-main .section__feature .content__feature ol > li:first-child > div h3 {
    margin-bottom: 20px;
  }
  .site-main .section__feature .content__feature ol > li:first-child > div img {
    display: block;
    max-width: 100%;
    margin: auto 0px;
  }
  .site-main .section__feature .content__feature ol > li::before {
    top: 0%;
    width: 40px;
    height: 40px;
    border: 5px solid #fff;
    font-size: 1.8rem;
  }
  .site-main .section__feature .content__feature ol > li::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 25px;
  }
  .site-main .section__feature .content__feature ol > li > div {
    margin: 5px 0;
  }
  .site-main .section__feature .content__feature ol > li > div p {
    letter-spacing: 0.05em;
  }
  .site-main .section__feature .content__feature ol > li > div h3 {
    position: relative;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  .site-main .section__feature .content__feature ol > li > div > ul > li {
    background: #f1f1f1;
    border-radius: 10px;
    padding: 25px;
    margin: 35px 0;
  }
  .site-main .section__feature .content__feature ol > li > div > ul > li.col-2-03 {
    display: block;
  }
  .site-main .section__feature .content__feature ol > li > div > ul > li .br-20 {
    border-radius: 20px;
  }
  .site-main .section__feature .content__feature ol > li > div > ul > li h4 {
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .site-main .section__feature .content__feature ol > li > div > ul > li ul {
    padding: 0 0 0 20px;
    list-style: disc;
  }
  .site-main .section__feature .content__feature ol > li > div > ul > li ul li {
    line-height: 1.7;
  }
  .site-main .section__release .contents {
    margin-top: 70px;
  }
  .site-main .section__release .content__release {
    margin: 0 auto;
    padding: 0 25px;
  }
  .site-main .section__release .content__release > .col-2-03 {
    margin: 30px 0;
  }
  .site-main .section .col-2-03 {
    display: block;
  }
  .site-main .section .col-2-03 > :nth-child(2) {
    margin: 20px 0;
  }
  .site-main .section__message {
    margin-top: 70px;
  }
  .site-main .section__message .contents {
    padding: 50px 0;
  }
  .site-main .section__message .content__message {
    padding: 0 40px 40px;
  }
  .site-main .section__message .content__message p {
    letter-spacing: 0em;
  }
  .site-main .section__message .content__message p small {
    display: block;
    text-align: center;
  }
  .site-main .section__message .content__message img {
    margin: auto;
    display: block;
  }
  .site-main .section__message .content__message .txt-01 {
    max-width: 85%;
    height: auto;
    margin: 20px auto 30px;
  }
  .site-main .section__message .content__message .txt-02 {
    max-width: 95%;
    height: auto;
    margin: 30px auto 20px;
  }
  .site-main .section__event .contents {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .site-main .section__event .content {
    max-width: 1150px;
    margin: 20px auto;
  }
  .site-main .section__event .content .txt {
    padding: 20px 25px;
  }
  .site-main .section__event .content .txt h3 {
    font-size: 2.3rem;
    letter-spacing: 0.05em;
  }
  .site-main .section__event .content .txt strong {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .date_widget .content__date_widget {
    max-width: 1290px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 0 25px;
  }
}
@media (max-width: 768px) {
  .site-footer {
    padding: 55px 0 95px;
  }
  .site-footer .inner {
    padding: 0 24px;
  }
  .site-footer .inner .footer-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .site-footer .inner .footer-nav > nav ul {
    display: block;
  }
  .site-footer .inner .footer-nav > nav.link-nav li {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .site-footer .inner .footer-nav > nav.link-nav li a {
    display: block;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
    padding-left: 10px;
    position: relative;
  }
  .site-footer .inner .footer-nav > nav.link-nav li a::before {
    font-size: 1.6rem;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    font-family: "wef";
    font-style: normal;
    font-weight: normal;
  }
  .site-footer .inner .footer-nav > nav.sns-nav {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    margin-bottom: 40px;
  }
  .site-footer .inner .footer-nav > nav.sns-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .site-footer .inner .footer-nav > nav.sns-nav ul li a {
    font-size: 2.8em;
    line-height: 1;
    margin-left: 0;
    margin-right: 30px;
  }
  .site-footer .inner .footer-nav > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .site-footer .inner .footer-nav > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}
@media (max-width: 768px) {
  .backtotop {
    width: 64px;
    height: 64px;
    position: fixed;
    right: 14px;
    top: auto;
    bottom: 16px;
    z-index: 200;
  }
  .backtotop img {
    width: 25px;
  }
}
@media (max-width: 768px) {
  aside a {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    position: fixed;
    left: 0;
    bottom: -63px;
    border-radius: 0 6px 0 0;
    z-index: 200;
    display: block;
    width: 210px;
    height: 63px;
    color: #fff;
    letter-spacing: 0.4em;
    font-weight: 700;
    z-index: 10;
  }
  aside a.active {
    bottom: 0px;
  }
  aside a span {
    position: absolute;
    top: 50%;
    left: 70px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  aside a::before {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  aside a:after {
    border: none;
    content: "";
    background: url(../img/icon_link_w.svg) no-repeat;
    background-size: contain;
    background-position: center;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 14px;
    bottom: auto;
    left: auto;
    right: 14px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media (max-width: 768px) {
  .nav-toggle-wrap {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 768px) {
  .global-nav {
    width: 100%;
    right: -100%;
  }
  .global-nav > div {
    top: 0%;
    padding: 30px 0 50px 45px;
  }
  .global-nav > div ul {
    padding-left: 15px;
  }
  .global-nav > div ul li a {
    display: block;
    padding: 15px 0;
    font-size: 1.6rem;
    color: #fff;
  }
}