$pc_xx: 1500px;
$pc: 769px;
$tb: 960px;
$sp: 768px;
$sp_ss: 360px;
@mixin max_pc {
  @media (max-width: ($pc_xx)) {
    @content;
  }
}
@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tb {
  @media (max-width: ($tb)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin sp_ss {
  @media (max-width: ($sp_ss)) {
    @content;
  }
}
@mixin ff-en($w:500) {
 font-family: 'Montserrat', sans-serif;
font-weight: $w;
}
@mixin ff-jp {
  font-family: 'Noto Sans JP', sans-serif;
}
@mixin cover{
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
	font-family: 'object-fit: cover; object-position: center;';
}
@mixin max-w($w) {
  @media (max-width: ($w)) {
    @content;
  }
}
@mixin min-w($w) {
  @media (min-width: ($w)) {
    @content;
  }
}
@font-face {
  font-family: 'wef';
  src: url('../font/wef.eot?74720369');
  src: url('../font/wef.eot?74720369#iefix') format('embedded-opentype'),
       url('../font/wef.woff2?74720369') format('woff2'),
       url('../font/wef.woff?74720369') format('woff'),
       url('../font/wef.ttf?74720369') format('truetype'),
       url('../font/wef.svg?74720369#wef') format('svg');
  font-weight: normal;
  font-style: normal;
}
p,small{
	a[target="_blank"]  {
		@include pc{
		&:hover{
			opacity: 0.5;
		}
	}
		display: inline-block;
				&:after{
					border:none;
					content:"";
					background: url(../img/icon_link.svg) no-repeat;
					background-size: contain;
					background-position: center;
					width:10px;
					height: 10px;
					position: relative;
					display: inline-block;
				margin: 0 2px;
		}
	}
}

/*-------------------------------------------------------------- */
/*Reset
/*-------------------------------------------------------------- */
html, body, main, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6 blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}
img.cover{
	-o-object-fit: cover;
	   object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
html {
  width: 100%;
  font-size: 62.5%;
  color: #000;
}
body {
  font-size: 1.4rem;
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
	font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
	overflow-y: auto;
  letter-spacing: 0rem;
	background: #fff;
	color: #2d1c60;
}
body.scrollhide{
	overflow-y: hidden;
}
a {
	color: #2d1c60;
  text-decoration: none;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
table {
  border-collapse: collapse;
  width: 100%;
}

sup {
	font-size: 0.8rem;
}
*:focus {
  outline: none;
}
@include pc {
  a[href^="tel:"] {
    pointer-events: none;
  }
}
ul{
	list-style: none;
}
hr{
	border: none;
	margin-top: 0;
}
.ff-en{
	@include ff-en;
}
.pic{
	width: 100%;
	height: auto;
}
p{
	font-size: 1.5rem;
	line-height: 2;
	letter-spacing: 0.2em;
	margin-bottom: 30px;
	color: #000;
	strong{
		color: #2d1c60;
	}
	&:last-child{
		margin-bottom: 0;
	}
}
.pc {
  display: block;
	@include sp{
		display: none;
	}
}
.tb {
  display: none;
	@include tb{
		display: block;
	}
}
.ctb {
	@include tb{
		display: none!important;
	}
}
.sp {
  display: none;
	@include sp{
		display: block;
	}
}

/*-------------------------------------------------------------- */
/*common
/*-------------------------------------------------------------- */
.align-center{
	text-align: center;
}
.align-right{
	text-align: right;
}
.fs-18{
	font-size: 1.8rem;
}
.fs-16{
	font-size: 1.6rem;
}
.ls-05{
	letter-spacing: 0.05em;
}
.container{
		max-width: 1285px;
		margin: auto;
		padding: 0 70px;
		@include max-w(1040px){
			padding: 0 40px;
		}
	}
.btn-01{
	width: 100%;
	color: #fff;
	font-weight: 700;
	font-size: 1.8rem;
	letter-spacing: 0.4em;
				text-align: center;
				height: 75px;
				border-radius: 40px;
				background: #2d1c60;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				letter-spacing:0.1em;
				position: relative;
				box-shadow:  		6px 6px 0  #fdfa00;
				-webkit-box-shadow:	6px 6px 0  #fdfa00;
				margin: auto;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	padding: 0 20px;
				@include pc{
					&:hover{
						-webkit-transform: translate(2px, 2px);
   					transform: translate(2px, 2px);
						box-shadow:  		0px 0px 0  #fdfa00;
						-webkit-box-shadow:	0px 0px 0  #fdfa00;
					}
				}
				@include sp {
					height: 50px;
					width: 250px;
				}	
	&[target="_blank"]  {
		padding: 0 40px;
				&:before {
					border:none;
					content:"";
					background: url(../img/icon_link_w.svg) no-repeat;
					background-size: contain;
					background-position: center;
					width:17px;
					height: 17px;
					position: absolute;
					right:10%;
					top:13px
				}
			}
	}
.ul-btn-01{
	margin: 0 -2% 0 -2%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	
	li{
		width: 100%;
		max-width: 294px;
		margin: 0 2%;
		@include max-w(1140px){
			margin: 20px auto;
		}
		a{
			width: 100%;
		}
	}
	@include max-w(1140px){
		flex-wrap: wrap;
	}
}
.btn-02{
	min-width: 230px;
	position: relative;
	font-size: 1.6rem;
	font-weight: 700;
	padding: 20px 65px 20px 0;
	display: inline-block;
	span{
		position: relative;
	}
	&::before{
		content:"";
		width: 100%;
		height: 1px;
		background: #000;
		position: absolute;
		left: 0;
		bottom:0;
		@include pc{
		transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
		}
	}
	&::after{
		transform-origin:center center 0;
		content:"";
		width: 30px;
		height: 1px;
		background: #000;
		position: absolute;
		right: -4px;
		bottom:11px;
		transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
		@include pc{
		transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
		}
	}
	@include pc{
		&:hover{
			opacity: 0.5;
			&::before{
						width: -webkit-calc(100% + 8px) ; 
						width:calc(100% + 8px) ;
					}
					&::after{
						transform-origin:center center 0;
						content:"";
						width: 30px;
						height: 1px;
						background: #000;
						position: absolute;
						right: -12px;
						bottom:11px;
						transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					}
		}
	}
	&[target="_blank"]  {
		span{
			&:before {
					border:none;
					content:"";
					background: url(../img/icon_link.svg) no-repeat;
					background-size: contain;
					background-position: center;
					width:17px;
					height: 17px;
					position: absolute;
					right:-30px;
					top:-10px
				}
		}
	}
}
.h-style{
	strong{
		color: #f5ec00;
		font-size: 7.5rem;
		letter-spacing: 0.4em;
		@include ff-en(700);
		line-height: 1.6;
		display: block;
		@include max-w(1140px){
			font-size: 5rem;
		}
	}
	span{
		display: block;
		line-height: 1.5;
		font-size: 2.5rem;
		letter-spacing: 0.15em;
	}
	&--fsX{
		strong{
			color: #f5ec00;
			font-size: 10rem;
			letter-spacing: 0.4em;
			@include ff-en(700);
				@include max-w(1140px){
			font-size: 7rem;
		}
		}	
	}
}
.content__nav{
	margin: auto;
				display: flex;
					align-items: center;
					justify-content: center;
					.btn-01{
						width: 290px!important;
						width: 100%;
					}
					&--left{
						margin: 0;
						justify-content: flex-start;
						a{
							margin: 0;
						}
					}
				p{
					color: #2d1c60;
					font-size: 1.3rem;
					font-weight: 500;
					line-height: 1.7;
					padding: 10px 25px;
					a{
						text-decoration: underline;
						@include pc{
							&:hover{
								opacity: 0.5;
							}
						}
					}
				}
	}
.ol-circle{
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 35px;
	@include max-w(1080px){
		padding: 0;
	}
		counter-reset: item;
  list-style-type: none;
	>li{
		background: #f1f1f1;
		padding: 60px 55px;
		border-radius: 20px;
		margin-bottom: 80px;
		&:nth-child(3){
					img{
						max-width: 80%;
						display: block;
						margin: 80px auto 40px;
					}
				}
		p{
					letter-spacing: 0.05em;
				}
		h3{
			position: relative;
			font-size: 2.4rem;
			padding-left: 100px;
				&::before {
					counter-increment: item;
					content: '0'counter(item);
					color: #fff;
					position: absolute;
					left: 0px;
					top:-50%;
					width:80px;
					height: 80px;
					background: #2d1c60;
					display: flex;
					align-items: center;
					justify-content: center;
					font-weight: 500;
					border-radius: 50%;
					font-size: 2.8rem;
					line-height: 1;
			}
		}
		>ol{
			list-style: none;
			>li{
			margin-top: 60px; 
			padding-top:50px;
			border-top: solid 2px #c1c1c1;
					.heading{
							position: relative;
							h4{
							display: flex;
							align-items: center;
							font-weight: 700;
							font-size: 1.8rem;
							>div{
								width: 180px;
								height: 44px;
								border:solid 1px #2d1c60;
								border-radius: 5px;
								background: #fff;
								display: flex;
								align-items: center;
								overflow: hidden;
								margin-right: 22px;
								>span{
									width: 50%;

									white-space: nowrap;
									text-align: center;
								}
								>.bg-blue{
									display: flex;
									align-items: center;
									justify-content: center;
									height: 44px;
									color: #fff;
									background: #2d1c60;;
								}
							}
							}
							&.note{
								@include max-w(1150px){
									margin-top: -30px;
									padding-top:55px;
								}
							}
							>strong{
								max-width: 233px;
								width: 100%;
								text-align: center;
								display: inline-block;
								background: #000;
								color: #fff;
								position: absolute;
								right: 0;
								top:0;
								padding: 10px 20px;
								border-radius:3px;
							}
						}
				
				&:nth-child(1){
					img{
					display: block;
					margin: 20px 0 40px;
					}
				}
				&:nth-child(2){
					img{
					display: block;
					margin: 70px 0 50px;
					}
				}
				&:nth-child(3){
					img{
						max-width: 70%;
						display: block;
						margin: 50px auto 50px;
					}
				}
			}
		}
	}
}
/*-------------------------------------------------------------- */
/*page
/*-------------------------------------------------------------- */
.site-header{
	position: relative;
}
.img-scroll{
	max-width: 280px;
	height: auto;
	position: absolute;
	right: 0;
	top:-50px;
	z-index: 0;

	-webkit-animation: rotate 10s linear 0s infinite;
    animation: rotate 10s linear 0s infinite;

	@include max-w(1080px){
		max-width: 160px;
	}

}

@keyframes rotate {
0% {
	-webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
	-webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

.keyvisual{
	background: #2d1c60;
	height: 635px;
	overflow: hidden;
	@include max-w(1230px){
		height: 50vw;
	}
	&__inner{
		padding-top: 62px;
		max-width: 1355px;
		height: 100%;
		margin: auto;
		position: relative;
		h1{
			position: relative;
			z-index: 2;
			padding-left: 80px;
			@include max-w(1355px){
				padding-left: 3%;
			}
			
		small{
			font-size: 1.2rem;
			color: #fff;
			font-weight: 400;
			display: block;
			margin-bottom: 20px;
			letter-spacing: 0.2em;
		}
		.site-title{
			max-width: 425px;
			width: auto;
			height: auto;
			@include max-w(1230px){
				max-width: 30vw;
			}
		}
	}
		.img-01{
		position: absolute;
		left: 180px;
		bottom:-100px;
		max-width: 307px;
		height: auto;
		z-index: 10;
		@include max-w(1355px){
				left: 6%;
			}
			@include max-w(1230px){
				left: 7%;
				max-width: 23vw;
			}
		}
	.img-02{
		height: 100%;
		width: auto;
		position: absolute;
		right: 0;
		bottom:0px;
		z-index: 0;
	}
	.event-pop{
		position: absolute;
		left: 44%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		bottom:30px;
		width: 200px;
		height: 200px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 2.1rem;
		
		@include max-w(1230px){
			left: 40%;
				width: 16vw;
			height: 16vw;
			}
		}
	}
}
.nav-toggle-wrap {
		position: fixed;
		right: 0;
		top:0;
  width:110px;
  height: 110px;
	z-index: 300;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	@include pc{
		&:hover{
		.nav-toggle{
						span {
						&:nth-of-type(1) {
						-webkit-transform: translateY(2px);
						-ms-transform: translateY(2px);
						    transform: translateY(2px);
						}
							&:nth-of-type(2) {
						opacity: 1;
					}
						&:nth-of-type(3) {
						-webkit-transform: translateY(-2px);
						-ms-transform: translateY(-2px);
						    transform: translateY(-2px);
						}
					}
				}
		}	
	}
	.circle{
			cursor: pointer;
			background: #2d1c60;
			border-radius: 50%;
			width: 52px;
			height: 52px;
			position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);
			>span{
				&::before{
					content:"";
					width: 3px;
					height: 3px;
					border-radius: 50%;
					background: #fff;
					position: absolute;
					top:5px;
					left: 50%;
					-webkit-transform: translateX(-50%);
					-ms-transform: translateX(-50%);
					    transform: translateX(-50%);
					z-index: 2;
				}
				&::after{
					content:"";
					width: 3px;
					height: 3px;
					border-radius: 50%;
					background: #fff;
					position: absolute;
					bottom:5px;
					left: 50%;
					-webkit-transform: translateX(-50%);
					-ms-transform: translateX(-50%);
					    transform: translateX(-50%);
					z-index: 2;
				}
				i{
					&::before{
					content:"";
					width: 3px;
					height: 3px;
					border-radius: 50%;
					background: #fff;
					position: absolute;
					left:5px;
					top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	    transform: translateY(-50%);
					z-index: 2;
				}
				&::after{
					content:"";
					width: 3px;
					height: 3px;
					border-radius: 50%;
					background: #fff;
					position: absolute;
					right:5px;
					top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	    transform: translateY(-50%);
					z-index: 2;
				}
				}
			}
			.nav-toggle{
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			z-index: 10;
			width: 15px;
			height: 16px;
				
				span {
					position: absolute;
					left: 0;
					width: 100%;
					height: 2px;
					background: #fff;
					display: inline-block;
					-webkit-transition: all .4s;
					-o-transition: all .4s;
					transition: all .4s;
					&:nth-of-type(1) {
						top: 0;
					}
					&:nth-of-type(2) {
						top: 50%;
						-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						    transform: translateY(-50%);
					}
					&:nth-of-type(3) {
						bottom: 0;
					}
				}
			}
		}
	&.active{
			span{
				&:nth-of-type(1) {
					-webkit-transform: translateY(7px) rotate(-45deg);
					-ms-transform: translateY(7px) rotate(-45deg);
					    transform: translateY(7px) rotate(-45deg);
				}
				&:nth-of-type(2) {
					opacity: 0;
				}
				&:nth-of-type(3) {
					-webkit-transform: translateY(-7px) rotate(45deg);
					-ms-transform: translateY(-7px) rotate(45deg);
					    transform: translateY(-7px) rotate(45deg);
				}
			}
		}
	}
.global-nav{
			background: #2d1c60;
			-o-transition: all .4s ease;
			transition: all .4s ease;
			-webkit-transition: all .4s ease;
			height: 100%;
			width: 280px;
			top:0%;
			right: -280px;
			position: fixed;
			z-index: 3;
			pointer-events: none;
			z-index:290;
		>div{
				-o-transition: all .4s ease;
				transition: all .4s ease;
					-webkit-transition: all .4s ease;
					-o-transition-delay: .2s;
					   transition-delay: .2s;
					-webkit-transition-delay: .2s;
					position: absolute;
					width: 280px;
					opacity: 0;
					padding: 100px 0 0 40px;
					ul{
						li{
						a{
							display: block;
							padding: 15px 0;
							font-size: 1.6rem;
							color: #fff;
							@include ff-en(500);
							span{
								color: #f5ec00;
							}
						}
					}
				}
		}
		&.active{
				right: 0%;
					opacity: 1;
					pointer-events: auto;
					>div{
						opacity: 1;
					}
		}
}

.site-main{
	position: relative;
	&::before{
		content:"";
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
			background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top:0;
		opacity: 0;
		z-index: 200;
		pointer-events: none;
	}
	&.active{
		&::before{
			opacity:1;
		}
	}
	.section{
		&__pagenav{
			max-width: 1350px;
			padding: 0 50px;
			margin: auto;
			ul{
				padding: 50px 0;
				display: flex;
				justify-content: space-between;
				li{
					width: -webkit-calc(100% - 22px) ; 
					width:calc(100% - 22px) ;
					margin-right: 33px;
					position: relative;
					&:last-child{
						margin-right: 0;
					}
					.new {
						position: absolute;
						top: -12px;
						left: -12px;
						@include pc{
							top: -25px;
							left: -25px;
						}
						.new-bg {
							width: 52px;
							height: 52px;
							background: url(../img/new-bg.png) no-repeat;
							background-size: cover;
							display: block;
							-webkit-animation: rotate 10s linear 0s infinite;
							animation: rotate 10s linear 0s infinite;
							@include pc{
								width: 72px;
								height: 72px;
							}
						}
						img {
							position: absolute;
							width: 56%;
							left: 22%;
							top: 50%;
							transform: translateY(-50%);
							z-index: 2;
						}
					}
					strong{
						display: block;
						padding: 10px;
						position: relative;
						margin-top: 10px;
						&::before{
							content:"";
							position: absolute;
							right: 0;
							top: 0;
							
							width: 50px;
							height: 50px;
							border-color: #2d1c60 transparent transparent transparent;
							background: url(../img/anchor.png) no-repeat;
							background-size: 100% auto;
							background-repeat: no-repeat;
						}
					}
					a{
						@include pc{
							transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
							&:hover{
								opacity: 0.5;
							}
						}
					}
					a[target="_blank"]  {
				strong{
				display: inline-block;
				position: relative;
				&:before {
					border:none;
					content:"";
					background: url(../img/icon_link.svg) no-repeat;
					background-size: contain;
					background-position: center;
					width:13px;
					height: 13px;
					position: absolute;
					right:-7px;
					top:15px
				}
				}
			}
				}
			}
		}
		&__about{
			margin: 50px 0 0 0;
			position: relative;
			z-index: 10;
			p{
				letter-spacing: 0.2em;
				strong{
					letter-spacing: 0.05em;
				}
			}

			.about_pic {
				position: relative;
				z-index: 20;
			}
			.col-2{
				display: -ms-grid;
				display: grid;
				position: relative;
				z-index: 10;
				-ms-grid-columns: 610fr 120px 400fr;
				grid-template-columns: 610fr 400fr;
				-ms-grid-rows: 1fr;
				grid-template-rows: 1fr;
				gap: 120px;
				@include max-w(1280px){
					-ms-grid-columns: 610fr 5vw 400fr;
					grid-template-columns: 610fr 400fr;
					-ms-grid-rows: 1fr;
					grid-template-rows: 1fr;
					gap: 5vw;
				}
				@include max-w(960px){
					-ms-grid-columns: 420px 3vw 1fr;
					grid-template-columns: 420px 1fr;
					-ms-grid-rows: 1fr;
					grid-template-rows: 1fr;
					gap: 3vw;
				}
				> *:nth-child(1){
				-ms-grid-row: 1;
				-ms-grid-column: 1;
					margin-bottom: 50px;
			}
				> *:nth-child(2){
				-ms-grid-row: 1;
				-ms-grid-column: 3;
					display: flex;
					justify-content: center;
				align-items: flex-end;
					img{
						width: 100%;
						height: auto;
						margin-bottom: -187px;
							@include max-w(1280px){
								margin-bottom: -10vw;
								margin-right: -10%;
						}
							@include max-w(960px){
							margin-bottom: -20vw;
								margin-right: -30%;
								width: 110%;
						}
					}
				}
			}
			.content{
				&__about{
					
				}
				&__background{
					margin: 50px 0;
					h3{
						font-size: 2.5rem;
						letter-spacing: 1.4em;
					}
				}
			}
		}
		&__howtoplay{
			.content{
				&__howtoplay{
				// max-width: 720px;
				margin: 40px auto 100px;
				display: -ms-grid;
				display: grid;
				-ms-grid-columns: 650fr 55px 666fr;
				grid-template-columns: 650fr 666fr;
				-ms-grid-rows: 1fr;
				grid-template-rows: 1fr;
				gap: 55px;
			
				> *:nth-child(1){
				-ms-grid-row: 1;
				-ms-grid-column: 1;
			}
				> *:nth-child(2){
				-ms-grid-row: 1;
				-ms-grid-column: 3;
					p{
						margin-bottom: 50px;
					}
				}
		}
				&__flow{
					.col-2-02{
					margin: 50px auto;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					> *:nth-child(1){
					width: 50%;
						padding: 0 120px;
						@include max-w(1140px){
							width: 45%;
							padding: 0 40px;
						}
			}
				> *:nth-child(2){
					width: 50%;
					@include max-w(1140px){
						width: 55%;
					}
						p{
							margin-bottom: 20px;
							display: block;
							letter-spacing: 0.1em;
						}
					}
					}
				}
				&__attention{
					.heading{
						h3{
							font-size: 2.3rem;
							letter-spacing: 0.4em;
						}
						p{
							line-height: 2.5;
						}
					}
					ul{
						display: flex;
						margin: 60px auto;
						li{
							width: 25%;
							margin-right: 55px;
							p{
								margin-top: 45px;
								line-height: 1.5;
								letter-spacing: 0.17em;
								font-size: 1.4rem;
							}
							img{
									max-width: 90%;
									width: auto;
										max-height: 82px;
									height: auto;
									display: block;
									margin: auto;
								}
							&:last-child{
								margin-right: 0;
							}
						}
					}
				}
			}
		}
		&__manga{
			.contents{
				margin-top: 120px;
			}
			.content{
						&__manga{
							margin-top: 60px;
							ul{
								display: flex;
								align-items: center;
								justify-content: center;
								li{
									width: 33.3%;
									margin-right: 50px;
									margin-bottom: 50px;
									&:nth-child(3n) {
										margin-right: 0;
									}
									a{
										display: block;
										@include pc{
											img{
												transition: all 0.3s ease;
													-webkit-transition: all 0.3s ease;	
											}
											&:hover{
												img{
													opacity: 0.5;
												}
											}
										}
									div{
										display: flex;
										align-items: center;
										margin: 10px 0 0 5px;
										>span{
											@include ff-en(700);
											font-size: 1.4rem;
											margin-right: 10px;
											-webkit-transform: translateY(2px);
											transform: translateY(2px);
										}
										strong{
											font-size: 1.8rem;
										}
									}
									>span{
										font-size: 1.5rem;
										background: #f5ec00;
										padding: 2px 5px;
										border-radius: 5px;
										margin: 10px 0 0 5px;
										color: #2d1c60;
										display: inline-block;
									}
									}
								}
							}
						}
					}
				}
		&__video{
			.contents{
				margin-top: 70px;
			}
			.content{
				&__video{
					max-width: 745px;
					margin: 40px auto 30px;
					text-align: center;
					a{
						@include pc{
							transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
							&:hover{
								opacity: 0.7;
							}
						}
					}
					video{
					border-radius: 10px;
						width: 100%;
						height: auto;
					}
				}
			}
		}
		&__feature{
			.contents{
				margin-top: 70px;
			}
			.content{
				&__description{
					max-width: 500px;
					margin: 45px auto;
					h3{
						text-align: center;
						font-size: 2.5rem;
					}
					p{
						letter-spacing: 0.05em;
					}
				}
				&__feature{
					max-width: 1290px;
						margin: 0 auto;
						padding: 0 70px;
					@include max-w(1080px){
						padding: 0 40px;
					}
					ol{
							counter-reset: item;
						list-style-type: none;
						>li{
							padding: 60px 0 0;
							border-radius: 20px;
							position: relative;
							&:first-child{
								>div{
									h3{
										margin-bottom: 35px;
									}
								}
							}
							&::before {
										counter-increment: item;
										content: '0'counter(item);
										color: #fff;
										position: absolute;
										left: 0px;
										top:0%;
										width:80px;
										height: 80px;
										background: #2d1c60;
										border:10px solid #fff;
										display: flex;
										align-items: center;
										justify-content: center;
										font-weight: 500;
										border-radius: 50%;
										font-size: 2.8rem;
										line-height: 1;
										left: 50%;
										-webkit-transform: translateX(-50%);
										transform: translateX(-50%);
								z-index: 2;
								}
							&::after{
								content:"";
								width: 100%;
								height: 2px;
								background: #ccc;
								position: absolute;
								left: 0;
								top:49px;
							}
							>div{
								margin: 85px 0;
								p{
										letter-spacing: 0.05em;
									}
								h3{
									position: relative;
									font-size: 2.4rem;
									margin-bottom: 20px;
								}
								sup{
									// display: inline-block;
									// font-size: 1rem;
									// -webkit-transform: translateY(-6px);
									// transform: translateY(-6px);
								}
								
								>ul{
									>li{
										background: #f1f1f1;
										border-radius: 20px;
										padding: 50px;
										margin: 55px 0;
										&.col-2-03{
											display: -ms-grid;
											display: grid;
											-ms-grid-columns: 1.3fr 625px 1fr;
											grid-template-columns: 1.3fr 62px 1fr;
											-ms-grid-rows: auto auto;
											grid-template-rows: auto auto;
										}
										.br-20{
									border-radius: 20px;
										}
										h4{
											font-size: 2.1rem;
											letter-spacing: 0.1em;
											margin-bottom: 20px;
										}
										ul{
											padding: 0 0 0 20px;
											list-style: disc;
											li{
												line-height: 2;
												letter-spacing: 0;
											}
										}
									}
								}
							}
							
						}
					}
				}
			}
		}
		&__release{
			.contents{
				margin-top: 70px;
			}
			.content{
				&__release{
					max-width: 1290px;
						margin: 0 auto;
						padding: 0 70px;
					>.col-2-03{
						margin: 50px 0;
					}
				}
			}
		}
		.col-2-03{
									display: -ms-grid;
									display: grid;
									-ms-grid-columns: 1fr 120px 1fr;
									grid-template-columns: 1fr 120px 1fr;
									-ms-grid-rows: auto auto;
									grid-template-rows: auto auto;
									p{
										letter-spacing: 0em;
									}
									> *:nth-child(1){
									-ms-grid-row: 1;
									-ms-grid-column: 1;
									grid-row: 1;
									grid-column: 1;
								}
									> *:nth-child(2){
									-ms-grid-column: 3;
									grid-column: 3;
									-ms-grid-row: 1;
									-ms-grid-row-span: 3;
									grid-row: 1 / span 3;
								}
									> *:nth-child(3){
									-ms-grid-row: 2;
									-ms-grid-column: 1;
									grid-row: 2;
									grid-column: 1;
								}
		}
		&__message{
			background: #e6e6e6 ;
			margin-top: 120px;
			.contents{
				background:url("../img/me_bg_01.jpg") no-repeat;
			background-size: 100%;
			background-position: top center;
				max-width: 967px;
				margin: auto;
				padding: 70px 0 ;
				
			}
			.content{
				&__message{
					max-width: 710px;
						margin: 0 auto;
						padding: 0 70px 50px ;
					p{
						letter-spacing: 0em;
						small{
							display: block;
							text-align: center;
						}
					}
					img{
						margin: auto;
						display: block;
					}
					.txt-01{
						max-width: 85%;
						height: auto;
						margin: 30px auto 40px;
					}
					.txt-02{
						max-width: 70%;
						height: auto;
						margin: 40px auto 20px;
					}
				}
			}
		}
		&__event{
			.contents{
				margin-top: 90px;
				margin-bottom: 80px;
			}
			.content{
				max-width: 1150px;
				margin: 30px auto;
				.txt{
					padding: 20px 5px;
					@include max-w(1230px){
						padding: 20px 40px;
					}
					h3{
						font-size: 2.3rem;
						letter-spacing: 0.1em;
					}
					strong{
						font-size: 1.8rem;
						letter-spacing: 0.05em;
					}
					p{
						letter-spacing: 0.05em;
					}
				}
			}
		}
	}
}

.date_widget {

	.content{
		&__date_widget{
			max-width: 1290px;
				margin: 0 auto;
				padding: 0 70px;
			@include max-w(1080px){
				padding: 0 40px;
			}
		}
	}

}


.site-footer{
	background: #fff;
	padding: 65px 0 45px;
	border-top:2px #ccc solid;
	.inner{
		position: relative;
		max-width: 1260px;
		padding: 0 165px 0 78px;
		margin: auto;
		.footer-nav{
			display: -ms-grid;
			display: grid;
			-ms-grid-columns: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			-ms-grid-rows: 1fr;
			grid-template-rows: 1fr;
			>nav{
				ul{
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					
					align-items: flex-end;
				}
				&.link-nav{
					-ms-grid-row: 1;
			-ms-grid-column: 1;
					li{
						margin-right: 20px;
						a{
							display: block;
							font-size: 1.2rem;
							letter-spacing: 0.2em;
							padding-left: 10px;
							position: relative;
							&::before{
								font-size: 1.6rem;
								position: absolute;
								left: 0;
								top: 50%;
								-webkit-transform: translateY(-50%);
								-ms-transform: translateY(-50%);
								    transform: translateY(-50%);
								content: '\f105';
								font-family: "wef";
								font-style: normal;
								font-weight: normal;
							}
						}
					}
				}
				&.sns-nav{
					-ms-grid-row: 1;
					-ms-grid-column: 2;
					.icon-instagram::before{
						content: '\f16d';
						font-family: "wef";
						font-style: normal;
						font-weight: normal;
					}
					.icon-twitter-circled::before{
						content: '\f30a';
						font-family: "wef";
						font-style: normal;
						font-weight: normal;
					}
					ul{
					-webkit-box-pack: end;
					    -ms-flex-pack: end;
					        justify-content: flex-end;
						li{
						a{
							font-size: 3.5rem;
							line-height: 1;
							margin-left: 30px;
							@include pc{
								transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
								&:hover{
									opacity: 0.5;
								}
							}
						}
						}
					}
				}
			}
		}
		.copyright{
			font-size: 1.2rem;
			letter-spacing: 0.2em;
			margin-top: 25px;
		}
	}
}
.backtotop{
	background: #f5ec00;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: fixed;
	right: 24px;
	bottom:40px;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	transform:translate(0 , 140px);
	z-index: 100;
	&.active {
		transform:translate(0 , 0px);
	}
	img{
		width: 28px;
		height: auto;
		position: absolute;
   	top: 50%;
   	left: 50%;
   	-webkit-transform: translate(-50%, -50%);
   	-ms-transform: translate(-50%, -50%);
   	    transform: translate(-50%, -50%);
	}
	@include pc{
		&:hover {
			transition: all .5s;
			transform: scale(.9);
			&:after {
				content: "";
				width: 100%;
				height: 100%;
				display: block;
				border-radius: 50%;
				border: 1px solid #f5ec00;
				opacity:.5;
				animation:.5s circleanime2 forwards;
			}
		}	
	}
}

aside{
	position: fixed;
	z-index: 100;
	a{
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
		position: fixed;
		@include pc {
			right: -64px;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			    transform: translateY(-50%);
				-ms-writing-mode: tb-rl;
			-webkit-writing-mode: vertical-rl;
			        writing-mode: vertical-rl;
			&:hover{
				background: #4a2f9d;
			}
		}
		background: #2d1c60;
		border-radius: 6px 0 0 6px ;
		z-index: 300;
		display: block;
		width: 64px;
		height: 220px;
		color: #fff;
		letter-spacing: 0.4em;
		font-weight: 700;
		&.active{
			right: 0px;
		}
		span{
			white-space: nowrap;
			font-size: 1.6rem;
			position: absolute;
   	top: 88px;
   	left: 50%;
   	-webkit-transform: translateX(-50%);
   	-ms-transform: translateX(-50%);
   	    transform: translateX(-50%);
		}
		&::before{
					content:"";
					background: url(../img/icon_dog.png) no-repeat;
					background-size: contain;
					background-position: center;
					width:40px;
					height: 40px;
					position: absolute;
					top:22px;
					left: 50%;
					-webkit-transform: translateX(-50%);
					-ms-transform: translateX(-50%);
					    transform: translateX(-50%);
			}
		&:after{
					border:none;
					content:"";
					background: url(../img/icon_link_w.svg) no-repeat;
					background-size: contain;
					background-position: center;
					width:10px;
					height: 10px;
					position: absolute;
					top:74px;
					right: 12px;
		}
	}
}
/*-------------------------------------------------------------- */
/*SP
/*-------------------------------------------------------------- */
@include sp {
	@include sp_ss{
		html {
			font-size: 52.5%;
		}
	}
			body {
				font-size: 1.4rem;
				font-weight: 400;
				line-height: 1.8;
		}
		p{
		font-size: 1.4rem;
		line-height: 1.7;
		letter-spacing: 0.1em;
		margin-bottom: 20px;
			strong{
				margin-top: 15px;
				display: block;
				font-size: 1.5rem;
			}
	}
	/*-------------------------------------------------------------- */
		/*common
		/*-------------------------------------------------------------- */
		.fs-18{
			font-size: 1.6rem;
		}
		.fs-16{
			font-size: 1.5rem;
		}
		.container{
			padding: 0 25px;
			}
		small{
			display: block;
			line-height: 1.5;
		}
		.btn-01{
			width: 100%;
			font-size: 1.7rem;
			line-height: 1.4;
			letter-spacing: 0.05em;
			box-shadow:  		3px 3px 0  #fdfa00;
			-webkit-box-shadow:	3px 3px 0  #fdfa00;
			padding: 0px;
			@include sp {
				height: 60px;
				}	
			&[target="_blank"]  {
				padding: 0px;
						&:before {
							width:15px;
							height: 15px;
							right:8%;
							top:12px
						}
					}
			}
		.ul-btn-01{
			margin: 0;
			text-align: center;
			display: block;
			li{
				margin: 10px auto;
			}
		}
		.btn-02{
			min-width: auto;
			position: relative;
			font-size: 1.4rem;
			font-weight: 700;
			padding: 15px 45px 15px 5px;
			display: inline-block;
			span{
				position: relative;
			}
			
			&::after{
				transform-origin:center center 0;
				content:"";
				width: 20px;
				height: 1px;
				background: #000;
				position: absolute;
				right: -3px;
				bottom:7px;
				transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			}
			&[target="_blank"]  {
				span{
					&:before {
							width:15px;
							height: 15px;
							right:-28px;
							top:-8px
						}
				}
			}
		}
		.h-style{
			strong{
				color: #f5ec00;
				font-size: 4rem;
				letter-spacing: 0.2em;
				line-height: 1.2;
				display: block;
				text-align: center;
			}
			span{
				margin-top: 10px;
				display: block;
				line-height: 1.5;
				font-size: 2rem;
				letter-spacing: 0.1em;
			}
			&--fsX{
				strong{
					font-size: 5rem;
					letter-spacing: 0.2em;
				}	
			}
		}
		.content__nav{
			text-align: center;
			.btn-01{
					width: 100%!important;
			}
			&--left{
						justify-content: center;
			}
			p{
							line-height: 1.7;
							padding: 5px 25px;
							
				}
			}
		.ol-circle{
			padding: 0 0px;
			>li{
				padding: 25px 20px;
				border-radius: 10px;
				margin-bottom: 60px;
				&:nth-child(3){
							img{
								max-width: 100%;
								display: block;
								margin: 30px auto 30px;
							}
						}
				p{
							letter-spacing: 0.05em;
						}
				h3{
					position: relative;
					font-size: 1.8rem;
					padding-left: 0px;
						&::before {
							position: absolute;
							left: 0px;
							top:-45px;
							width:40px;
							height: 40px;
							font-size: 1.8rem;
					}
				}
				>ol{
					>li{
					margin-top: 30px; 
					padding-top:20px;
					border-top: solid 2px #c1c1c1;
						&:first-child{
							margin-top: 20px; 
						}
							.heading{
									h4{
									display: block;
									font-size: 1.6rem;
									>div{
										width: 160px;
										height: 34px;
										background: #fff;
										margin: 10px 0;
										>span{
										}
										>.bg-blue{
											height: 34px;
										}
									}
									}
									&.note{
										position: relative;
										margin-top: 0px;
										padding:0;
									}
									>strong{
										max-width: 100%;
										width: 100%;
										display: block;
										right: 0;
										top:0;
										padding: 10px 20px;
										border-radius:3px;
										position: relative;
										margin: 20px 0;
									}
								}
						&:nth-child(1){
							img{
							max-width: 80%;
							display: block;
							margin: 30px auto 30px;
							}
						}
						&:nth-child(2){
							img{
								max-width:80%;
							display: block;
							margin: 30px auto 30px;
							}
						}
						&:nth-child(3){
							img{
								max-width: 80%;
								display: block;
								margin: 30px auto 30px;
							}
						}
					}
				}
			}
		}
	.img-scroll{
		top:101vh;
		right: -20%;
		z-index: 0;
		display: none;
	}
		.keyvisual{
			background: #2d1c60;
			height: auto;
			overflow: hidden;
			
			&__inner{
				padding-top: 40px;
				height: 150vw;
				h1{
					position: relative;
					z-index: 2;
					padding-left: 5vw;
					
				small{
					font-size: 4.2vw;
					margin-bottom: 3vw;
					letter-spacing: 0.2em;
				}
				.site-title{
					max-width:85vw;
					width: auto;
					height: auto;
					
				}
			}
			.img-01{
				display: block;
				position: absolute;
				left: 5vw;
				right: auto;
				bottom:-15vw;
				width: 50vw;
				max-width: 100%;
				height: auto;
				margin: 0 0 0 0;
				}
			.img-02{
				height: auto;
				width: 100%;
				position: absolute;
				right: 0;
				bottom:0px;
				z-index: 0;
			}
			.event-pop{
				position: absolute;
				left: 3%;
				-webkit-transform: translateX(0%);
				transform: translateX(0%) rotate(-15deg);
				bottom:auto;
				top:50vw;
				width:45vw;
				height: 45vw;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				font-size: 2.1rem;

				}
			}
		}
		
		.site-main{
			overflow: hidden;
			.section{
				&__pagenav{
					padding: 0 20px;
					margin: auto;
					position: relative;
					z-index: 2;
					ul{
						padding: 40px 0 20px;
						display: block;
						li{
							width: 100%;
							margin-right: 0;
							margin-bottom: 20px;

							strong{
								display: block;
								padding: 10px;
								position: relative;
								margin-top: 10px;
								&::before{
									content:"";
									position: absolute;
									right: 0;
									top: 0;
									
									width: 40px;
									height: 40px;
									border-color: #2d1c60 transparent transparent transparent;
									background: url(../img/anchor.png) no-repeat;
									background-size: 100% auto;
									background-repeat: no-repeat;
								}
							}
						}
					}
				}
				&__about{
					margin: 30px 0 0 0;
					p{
						letter-spacing: 0.1em;
					}
					.col-2{
						display: block;
						> *:nth-child(1){
							margin-bottom: 50px;
					}
						> *:nth-child(2){
							overflow: hidden;
							img{
								width: 70%;
								height: auto;
								margin-bottom: -100px;
								margin-right: -10%;
								
							}
						}
					}
					.content{
						&__background{
							margin: 30px 0;
							h3{
								font-size: 2rem;
								letter-spacing: 1em;
							}
						}
					}
				}
				&__howtoplay{
					header{
						small{
							margin-top: 15px;
						}
					}
					.content{
						&__howtoplay{
						margin: 30px auto 40px;
						display: block;
							> *:nth-child(1){
							img{
									max-width: 75%;
									display: block;
									margin: auto;
								}
							}
						> *:nth-child(2){
							p{
								margin: 30px auto;
							}
						}
				}
						&__flow{
							margin-top: 60px;
							.col-2-02{
							margin: 20px auto;
							display: block;
							align-items: center;
							justify-content: flex-end;
							> *:nth-child(1){
							width: 100%;
								padding: 0;
								img{
									max-width: 50%;
									display: block;
									margin: auto;
								}
						}
						> *:nth-child(2){
							width: 100%;
								p{
									margin: 30px auto;
									letter-spacing: 0.1em;
								}
							}
							}
						}
						&__attention{
							.heading{
								h3{
									font-size: 2rem;
									letter-spacing: 0.1em;
								}
								p{
									line-height: 2;
								}
							}
							ul{
								display: flex;
								margin: 30px auto;
								flex-wrap: wrap;
								justify-content: space-between;
								li{
									width: 48%;
									margin-right: 0;
									margin-bottom: 30px;
									p{
										margin-top: 25px;
										letter-spacing: 0.02em;
										font-size: 1.3rem;
									}
									img{
											max-width: 80%;
											width: auto;
												max-height: 50px;
											height: auto;
											display: block;
											margin: auto;
										}
									&:last-child{
										margin-right: 0;
									}
								}
							}
						}
					}
				}
				&__manga{
					.contents{
						margin-top: 60px;
					}
					.content{
								&__manga{
									margin-top: 60px;
									ul{
										display: block;
										li{
											width: 100%;
											margin-right: 0px;
											margin-bottom: 50px;
											text-align: center;
											a{
												display: block;
												
												img{
													max-width: 90%;
													display: block;
													margin: auto;
												}
											div{
												display: flex;
												align-items: center;
												justify-content: center;
												margin: 10px 0 0 0;
												
												>span{
													font-size: 1.4rem;
													margin-right: 10px;
													-webkit-transform: translateY(1px);
													transform: translateY(1px);
												}
												strong{
													font-size: 1.6rem;
												}
											}
											>span{
												font-size: 1.4rem;
												margin: 5px 0 0 0px;
											}
											}
										}
									}
								}
							}
						}
				&__video{
					.contents{
						margin-top: 70px;
					}
					.content{
						&__video{
							max-width: 745px;
							margin: 40px auto 30px;
							text-align: center;
							video{
							border-radius: 10px;
								width: 100%;
								height: auto;
							}
						}
					}
				}
				&__feature{
					.contents{
						margin-top: 70px;
					}
					.content{
						&__description{
							max-width: 500px;
							margin: 30px auto;
							padding: 0 25px;
							h3{
								font-size: 2rem;
							}
						}
						&__feature{
								padding: 0 25px;
							ol{
								>li{
									padding: 60px 0 0px;
									position: relative;
									&:first-child{
										padding: 60px 0 40px;
										>div{
											h3{
												margin-bottom: 20px;
											}
											img{
												display: block;
												max-width:100%;
												margin: auto 0px;
											}
										}
									}
									&::before {
												top:0%;
												width:40px;
												height: 40px;
												border:5px solid #fff;
												font-size: 1.8rem;
										}
									&::after{
										content:"";
										width: 100%;
										height: 2px;
										background: #ccc;
										position: absolute;
										left: 0;
										top:25px;
									}
									>div{
										margin: 5px 0;
										p{
												letter-spacing: 0.05em;
											}
										h3{
											position: relative;
											font-size: 1.8rem;
											margin-bottom: 20px;
										}
										sup{
											// display: inline-block;
											// font-size: 1rem;
											// -webkit-transform: translateY(-6px);
											// transform: translateY(-6px);
										}

										>ul{
											>li{
												background: #f1f1f1;
												border-radius: 10px;
												padding: 25px;
												margin: 35px 0;
												&.col-2-03{
													display: block;
												}
												.br-20{
													border-radius: 20px;
												}
												h4{
													font-size: 1.6rem;
													letter-spacing: 0.05em;
													margin-bottom: 20px;
													line-height: 1.5;
												}
												ul{
													padding: 0 0 0 20px;
													list-style: disc;
													li{
														line-height: 1.7;
													}
												}
											}
										}
									}

								}
							}
						}
					}
				}
				&__release{
					.contents{
						margin-top: 70px;
					}
					.content{
						&__release{
								margin: 0 auto;
								padding: 0 25px;
							>.col-2-03{
								margin: 30px 0;
							}
						}
					}
				}
				.col-2-03{
					display: block;
					>:nth-child(2){
						margin: 20px 0;
					}
				}
				&__message{
					margin-top: 70px;
					.contents{
						padding: 50px 0 ;
					}
					.content{
						&__message{
								padding: 0 40px 40px ;
							p{
								letter-spacing: 0em;
								small{
									display: block;
									text-align: center;
								}
							}
							img{
								margin: auto;
								display: block;
							}
							.txt-01{
								max-width: 85%;
								height: auto;
								margin: 20px auto 30px;
							}
							.txt-02{
								max-width: 95%;
								height: auto;
								margin: 30px auto 20px;
							}
						}
					}
				}
				&__event{
					.contents{
						margin-top: 40px;
						margin-bottom: 50px;
					}
					.content{
						max-width: 1150px;
						margin: 20px auto;
						.txt{
							padding: 20px 25px;
							h3{
								font-size: 2.3rem;
								letter-spacing: 0.05em;
							}
							strong{
								font-size: 1.6rem;
							}
						}
					}
				}
			}
		}


.date_widget {

	.content{
		&__date_widget{
			max-width: 1290px;
				margin: 0 auto;
				margin-top: 70px;
				padding: 0 25px;
		}
	}

}


.site-footer{
	padding: 55px 0 95px;
	.inner{
		padding: 0 24px;
		.footer-nav{
			display: -ms-grid;
			display: grid;
			-ms-grid-columns: 1fr;
			grid-template-columns: 1fr;
			-ms-grid-rows: auto auto;
			grid-template-rows: auto auto;
			>nav{
				ul{
					display: block;
				}
				&.link-nav{
					li{
						margin-right: 0px;
						margin-bottom: 20px;
						a{
							display: block;
							font-size: 1.2rem;
							letter-spacing: 0.2em;
							padding-left: 10px;
							position: relative;
							&::before{
								font-size: 1.6rem;
								position: absolute;
								left: 0;
								top: 50%;
								-webkit-transform: translateY(-50%);
								-ms-transform: translateY(-50%);
								    transform: translateY(-50%);
								content: '\f105';
								font-family: "wef";
								font-style: normal;
								font-weight: normal;
							}
						}
					}
				}
				&.sns-nav{
					-ms-grid-row: 1;
					grid-row: 1;
					-ms-grid-column: 1;
					grid-column: 1;
					margin-bottom: 40px;
					ul{
						display: flex;
					-webkit-box-pack: start;
					    -ms-flex-pack: start;
					        justify-content: flex-start;
						li{
						a{
							font-size: 2.8em;
							line-height: 1;
							margin-left: 0;
							margin-right: 30px;
						}
						}
					}
				}
			}
		}
		.footer-nav > *:nth-child(1){-ms-grid-row: 1;-ms-grid-column: 1
		}
		.footer-nav > *:nth-child(2){-ms-grid-row: 2;-ms-grid-column: 1
		}
	}
}
.backtotop{
	width: 64px;
	height: 64px;
	position: fixed;
	right:14px;
	top:auto;
	bottom: 16px;
	z-index: 200;
	img{
		width: 25px;
	}
}
	aside{
		a{
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
			position: fixed;
			left: 0;
			bottom:-63px;
			border-radius: 0 6px 0 0;
			z-index: 200;
			display: block;
			width: 210px;
			height: 63px;
			color: #fff;
			letter-spacing: 0.4em;
			font-weight: 700;
			z-index: 10;
			&.active{
				bottom: 0px;
			}
			span{
				position: absolute;
				top: 50%;
				left: 70px;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				    transform: translateY(-50%);
			}
			&::before{
						width:40px;
						height: 40px;
						position: absolute;
				left: 20px;
						top: 50%;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					    transform: translateY(-50%);
				}
			&:after{
					border:none;
					content:"";
					background: url(../img/icon_link_w.svg) no-repeat;
					background-size: contain;
					background-position: center;
					width:12px;
					height: 12px;
					position: absolute;
				top:14px;
					bottom:auto;
					left: auto;
				right: 14px;
					-webkit-transform: translateX(0);
					-ms-transform: translateX(0);
					    transform: translateX(0);
		}
		}
	}
		.nav-toggle-wrap {
				width:80px;
				height: 80px;
			}
		.global-nav{
				width: 100%;
				right: -100%;
					>div{
						top:0%;
						padding: 30px 0 50px 45px ;
						ul{
							padding-left: 15px;
							li{
							a{
								display: block;
								padding: 15px 0;
								font-size: 1.6rem;
								color: #fff;
							}
						}
						}
					}
				}
}